.izquierda{
    float: left;
    margin: 1%;
}

.derecha{
    float: right;
    margin: 1%;
}

.contenedor{
    margin: 1%;
    width: 40%;
    height: 40%;
    background-color: gainsboro;
    border: 2px black solid;
    overflow:auto;
}

input{
    text-align: right;
}